{{- if and .personal (not .ephemeral) -}}
Host *
    ServerAliveInterval 10
    ServerAliveCountMax 60
    IdentitiesOnly yes

Host github.com
    HostName github.com
    User git
    IdentityFile ~/.ssh/github_ypxun

# === 动态加载 VPS 列表 ===
{{ if not .headless }}
{{- range .vps_items }}
{{- $vps := (bitwarden "item" .) -}}
{{- $fields := (bitwardenFields "item" .) -}}
{{- $alias := $fields.alias.value -}}
{{- $ip := (index $vps.login.uris 0).uri -}}

Host {{ $alias }}
    HostName {{ $ip }}
    Port {{ $fields.port.value }}
    User {{ $vps.login.username }}
    IdentityFile ~/.ssh/key_vps_user

Host {{ $alias }}_root
    HostName {{ $ip }}
    Port {{ $fields.port.value }}
    User {{ $fields.root_user.value }}
    IdentityFile ~/.ssh/key_vps_root

{{ end -}}
{{- end }}

{{- end -}}
