# 1. 引入基础通用配置 (真身)
{{ include (joinPath .chezmoi.workingTree "git/gitconfig") }}

# 2. 动态追加个性化配置
[user]
    name = {{ .name | quote }}
    email = {{ .email | quote }}

[core]
    # Windows 自动转换 CRLF，Linux 保持原样
    autocrlf = {{ if eq .osid "windows" }}true{{ else }}input{{ end }}