# 计算换行符逻辑 
{{- $crlf := "autocrlf = input" -}}
{{- if eq .chezmoi.os "windows" -}}
    {{- $crlf = "autocrlf = true" -}}
{{- end -}}

# 读取真身内容 
{{- $raw_config := include (joinPath .chezmoi.workingTree "git/gitconfig") -}}

# 执行链式替换并输出 
{{- $raw_config 
    | replace "@GIT_NAME@" .name 
    | replace "@GIT_EMAIL@" .email 
    | replace "@GIT_CRLF@" $crlf 
-}}