#!/bin/bash
set -eufo pipefail

# 监控清单变化: 
# {{ include (joinPath .chezmoi.workingTree "zsh/zsh_plugins.txt") | sha256sum }}

echo "🔌 [3/3] 正在维护 Zsh 插件环境..."

# 引用模板
{{ template "zsh-plugins.tmpl" . }}

if [[ "$SHELL" != "$(command -v zsh)" ]]; then
    echo -e "提示: 请手动执行 chsh -s $(command -v zsh) 切换默认 Shell"
fi

echo "✨ 插件同步执行完毕！"